/* CSS FONTS IMPORT START */

@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/* CSS FONTS IMPORT END */

/* CONTACT PAGE CSS START */

form {
	text-align: center;
}

.text-field {
	outline:none;
	margin-top: 3%;
	padding-top: 6%;
	padding: 20px;
	font-size: 30px;
	height: 30px;
	color: black;
	border-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: white;
    background-color: transparent;
}

.notes {
	margin-bottom: 0%;
	padding-bottom: 10%;
	overflow: hidden;
	resize: none;
	border-bottom-width: 2px;
}

.text-field::placeholder {
	color: black;
	font-family: 'Yatra One', cursive;
}

.submit {
	margin-top: 10px;
	border: none;
	border-radius: 15%;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	font-weight: bolder;
}

.submit:hover {
	cursor: pointer;
}

#succes_message, #input_error_message, #notes_error_message {
	display: none;
	font-size: 2em;
	font-weight: 950;
	font-family: 'Roboto', sans-serif;
}

.facebook-icon, .github-icon {
	position: absolute;
	width: 5%;
	top: 15%;
	right: 30%;
}

.github-icon {
	top: 30%;
}

#social-media-text {
	display: none;
}

/* CONTACT PAGE CSS END */

/* RESPONSIBLE FOR MOBILE DEVICES START */

@media only screen and (max-width: 510px) {
	.facebook-icon, .github-icon {
		position: static;
		width: 80%;
	}

	.facebook-link {
		width: 25%;
	}

	.github-link {
		width: 25%;
	}

	.github-icon {
		float: right;
	}

	.text-field {
		margin-top: 5%;
		height: 30px;
	}

	.notes {
		padding-bottom: 25%;
	}

	.submit {
		margin-bottom: 2%;
	}

	.row {
		margin-top: 2%;
		display: flex;
	}

	#social-media-text {
		display: block;
		left: 18%;
		width: 100%;
		bottom: -160px;
		font-family: 'Dela Gothic One', cursive;
		font-weight: 'bolder';
	}
}

/* RESPONSIBLE FOR MOBILE DEVICES END */